<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/dashboard">Home</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
    <a href="/logout" class="logout">Logout</a>
</div>

<div class="container">
    <h1>Contact Us</h1>
    <p>Email: Nigmyasser@gmail.com</p>
    <p>Phone: +20 01149238650</p>
    <p>Location: Ismailia, Egypt</p>
</div>

</body>
</html>