<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container fade-in">
        <h2 class="title">Create Account</h2>

        <form method="POST" class="form">
            <input type="text" name="username" placeholder="Choose username" required>
            <input type="password" name="password" placeholder="Choose password" required>

            <button type="submit" class="btn">Sign Up</button>
        </form>

        <p class="msg">{{ msg }}</p>
        <a class="link" href="/login">Already have an account?</a>
    </div>
</body>
</html>
