body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #eef3ff, #f9fbff);
}

/* Navbar */
.navbar {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: #2563eb;
}

/* Page */
.page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    background: white;
    padding: 35px;
    border-radius: 16px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    text-align: center;
}

.card.center {
    width: 420px;
}

.card.wide {
    width: 600px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Buttons */
.btn {
    background: #2563eb;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn.outline {
    background: transparent;
    border: 2px solid #2563eb;
    color: #2563eb;
}

.btn.full {
    width: 100%;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.danger {
    color: red;
    text-decoration: none;
}